
@font-face {
    font-family: 'Gcdymicrhvdxbhxnfbhpzcpighi';
    src: url('Gcdymicrhvdxbhxnfbhpzcpighi.eot');
    src: url('Gcdymicrhvdxbhxnfbhpzcpighi.eot?#iefix') format('embedded-opentype'),
        url('Gcdymicrhvdxbhxnfbhpzcpighi.woff2') format('woff2'),
        url('Gcdymicrhvdxbhxnfbhpzcpighi.woff') format('woff'),
        url('Gcdymicrhvdxbhxnfbhpzcpighi.ttf') format('truetype'),
        url('Gcdymicrhvdxbhxnfbhpzcpighi.svg#Gcdymicrhvdxbhxnfbhpzcpighi') format('svg');
    font-weight: normal;
    font-style: italic;
}
